*{
    margin: 0;
    padding: 0; 
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 100vh;
    background-size: cover;
    background-position: center;

}

ul{
    float:right;
    list-style: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid transparent;
    font-family: "Roboto";
    font-size: 25px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    border: 1-x solid white;
}

ul li a:hover{
    border: 1px solid white;

}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

body{
    font-family: monospace;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
}

.title h1{
    color: white;
    font-size: 80px;
    text-align: center;
}

.para{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
}
.para p{
    color: white;
    font-size: 30px;
    text-align: center;
}
.button{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right:   5px;
    font-size: 13px;
    font-family: "Roboto";
    transition: all 0.6s ease;
}

.btn:hover{
    background-color: darkorange;
    color: white;
}

.firstsec{
    position: absolute;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 1200px;
}

.firstsec h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

.firstsec p{
    color: white;
    font-size: 30px;
    text-align: left;
}
