*{
    margin: 0;
    padding: 0; 
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(background-992858.png);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

ol{
    float:left;
    list-style: none;
    margin-top: 20px;
}

ol li{
    display: inline-block;
}

ol li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid transparent;
    font-family: "Comfortaa";
    font-size: 25px;
}

ul{
    float:right;
    list-style: none;
    margin-top: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid transparent;
    font-family: "Comfortaa";
    font-size: 25px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    border: 1-x solid white;
}

ul li a:hover{
    border: 1px solid white;

}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

body{
    font-family: monospace;
}

.main{
    overflow: auto;
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
}

.title h1{
    color: white;
    font-size: 80px;
    text-align: center;
}

.para{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
}
.para p{
    color: white;
    font-size: 30px;
    text-align: center;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-1 , .btn-2 , .btn-3 , .btn-4{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right:   5px;
    font-size: 13px;
    font-family: "Roboto";
    transition: all 0.6s ease;
}

.btn-1:hover{
    background-color: #3b5998;
    color: white;
}

.btn-2:hover{
    background-color: #C13584;
    color: white;
}


.btn-3:hover{
    background-color: #d44638;
    color: white;
}

.btn-4:hover{
    background-color: #00adae;
    color: white;
}

.firstsec{
    position: absolute;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 1200px;
}

.firstsec h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

.firstsec p{
    color: white;
    font-size: 30px;
    text-align: left;
}
